body {
	margin: 30px;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}

h1 {
	text-align: center;
	color: grey;
}

h2 {
	margin-top: 30px;
	margin-bottom: -5px;
}

h3 {
	margin-top : 25px;
	margin-bottom: -5px;
}

#identification {
	text-align:center; 
	padding:1em;
}

img {
	float:right;
	margin-right: 10px;
}

li {
	/*font-size: small;*/
	color: grey;

}

a {
	color: grey;
}

.bold
{
	font-weight: bold;
}